default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username:
  password:

development:
  <<: *default
  database: store_monitor_dev

test:
  <<: *default
  database: store_monitor_test

production:
  <<: *default
  database: store_monitor_prod
