/*
 *= require bootstrap
 *= require_self
 */
li {
  list-style: none;
}

.align-middle {
  vertical-align: middle !important;
  text-align: center;
}

.ul-center {
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

select option {
  text-align: center;
}
